<%# collection_row_cache(partner) do %>
<article class="col-sm-8 post-item">
    <%= content_tag(:thumbnail) do %>
    <% if partner.image.present? %>
    <div class="thumbnail-image">
       <% if partner.thumbnail -%>
       <%= link_to(image_tag(partner.thumbnail.url), partner.link, :target => :blank, :rel => 'external') %>
       <% else -%>
       <%= image_tag(partner.thumbnail.url) %>
       <% end -%>
   </div>
   <% end -%>
   <div class="caption">
       <h2 class="thumbnail-title">
          <% if partner.link.present? -%>
          <%= link_to(partner.title, partner.link, :target => :blank, :rel => 'external') %>
          <% else -%>
          <%= partner.title %>
          <% end -%>
      </h2>
      <%= render_html_text(partner.body) %>
    </div>
  <% end if partner %>
</article> 
<%# end %> 