<%# resource_cache(resource) do %>
<article>
  <div class='row'>
  <div class='col-xs-12'>
  <%= render_page_title(resource.title) %>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
	<%= render_slideshow_for(resource) %>
  </div>
</div>
<div class='row sale_property body'>
  <div class='col-xs-12'>
	<%= render_html_text(resource.body) %>
  </div>
</div>
<% if resource.lat_long.present? %>
<div class='row google_map_container hide-on-print'>
  <div class='col-xs-12'>
    <%= render('google_map', :point => resource.lat_long) %> 
  </div>
</div>
<% end %>
<div class='row sale_property inquiry hide-on-print'>  
  <div class='col-xs-12'>
    <h2 class='realty-partial'><%= t(:'realty.sale_inquiry_title') %></h2>
  </div>
</div>
<div class='row'>
  <div class='col-xs-4'>
    <% if site.preferred_realty_agent_public && @sale_property.meta.realty_agent %>
      <%= render 'shared/realty_agent', :realty_agent => @sale_property.meta.realty_agent %>
    <% elsif site.preferred_contact_address.present? %>
      <p><small><%= site.preferred_contact_address.html_safe %></small></p>
    <% end %> 
  </div>
  <div class='col-xs-8'><%= render :partial => 'sale_property_inquiries/form' %></div>
</div>
<%#= render_next_previous %>
</article>
<%# end %>
<% content_for :sidebar do %>
	<% cache([action_name, site, I18n.locale, parent, @sale_property, 'sidebar2']) do %>
  	<%
  	options = @sale_property.content_options
  	has_options = options.try(:any?)
  	tags = []
  	tags << realty_meta_tag("price", sale_price_value(@sale_property, true))
  	tags << realty_meta_tag("bedroom_count", @sale_property.bedroom_count)
  	tags << realty_meta_tag("bathroom_count", @sale_property.bathroom_count)
  	tags << realty_meta_tag("year_built", @sale_property.year_built)
  	if @sale_property.acreage.present?
  		tags << realty_meta_tag("acreage", "#{@sale_property.acreage} m2")
  	end
  	if @sale_property.building_size.present? 
  		tags << realty_meta_tag("building_size", "#{@sale_property.building_size} m2")
  	end
  	if @sale_property.area.present? 
  	  tags << realty_meta_tag("area", @sale_property.area.name)
  	end
  	%>
    <div class='partial tags-list'>
      <h4 class="widget-title"><%= t(:'description') %></h4>
      <%= tags.compact.join("<br/>").html_safe %>
      <%= render('/shared/content_options', :options => options) if has_options %>
      <%= render_resource_stickers(:title => t(:'details')) %>
    </div> 
  	<%= render "sale_properties/filter", :section => parent %>
  <% end %>  
<% end %>
<%# end %>