<% 
  has_facebook = !site.preferred_facebook_account.blank?
  column_count = has_facebook ? 4 : 6 
%>

<div id='footer-container' class='container-fluid'>
  <div id='footer' class='row-fluid'>
    <div class="span<%= column_count %>">
      <h3><small><%= t("Informations") %></small></h3>
      <%= render 'shared/pipe_menu', :mobile_behaviour => "hide-on-mobile" %>
    </div>
    <% unless site.preferred_facebook_account.blank? %>
    <div class="span4">
      <h3><small><%= t("follow_us") %></small></h3>
      <p><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/'<%= site.preferred_facebook_account %>'&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:90px;" allowtransparency="true"></iframe></p>
    </div>
    <% end %>
    <div class="span<%= column_count %>">
      <h3><small><%= t("contact_us") %></small></h3>
      <p><small>
        <%= site.preferred_contact_address.html_safe unless site.preferred_contact_address.blank? %>
        <%= mail_to(t('email_us'), site.preferred_contact_email, :encode => "javascript") unless site.preferred_contact_email.blank? %></small></p>
    </div>
  </div>
  <div class='row-fluid'>
    <div class="span12"> 
      <p class="center"><small><%= t('footer_remaxislandproperties').html_safe %><small></p>
    </div>
  </div>
</div>
<div id='copyright-container' class='container-fluid'>
  <div id='copyright' class='row-fluid'>
    <div class="span12">
      <a id='site_by' href='http://www.joufdesign.com' target='_blank'>
        <%= t(:'site_by', :name => "Jouf Design").html_safe %>
      </a>
    </div>
  </div>
</div>


