<%
@rent_section ||= site.rental_property_lists.live.first
if @rent_section
  @promo_rental_property = @rent_section.rental_properties.live.with_promo.all.sample(4)
  @categories = @rent_section.categories
  @promotions = @rent_section.rental_properties.live.with_promo.limit(9)
  @infos = @rent_section.rental_properties.live.with_info.limit(3)
  @end_display = @rent_section.rental_properties.live.end_display.limit(3)
end

@sale_section ||= site.sale_property_lists.live.first 
if @sale_section
  @sale_properties = @sale_section.sale_properties.in_city(site.cities.first).in_homepage.live
end

@lifestyle_categories ||= site.categories.named("lifestyles").children

@features ||= site.features.live
%>

<!-- Hero
  ================================================== -->
  <section class="hero-slider" id="hero-slider">
    <ul class="slides">
      <% @features.each do |feature| %>
      <li class="overlayx">
        <% if image = feature.thumbnail(site.preferred_features_image_size) %>
        <div class="background-image-holder parallax-background ">
          <%= image_tag(image.url, :class => "background-image") %>
        </div>
        <% end %>
        <% if feature.title.present? || feature.body.present? %>

        <div class="container align-vertical">
          <div class="row">
            <div class="col-md-6 col-sm-9 col-md-offset-3">
              <%= content_tag(:h1, feature.title, :class => "text-white") if feature.title.present? %>
              <%= feature.body.html_safe if feature.body.present? %>
              <% if feature.owner and url = feature.owner.public_url %>
              <p><%= link_to(t("features.view_more"), url, :class => 'btn btn-primary btn-inverse') %></p>
              <% end %>
            </div>
          </div>
        </div><!--end of container-->
        <% end %>
      </li>
      <% end %>
    </ul>
    <a href="prev" class="nav-slide prev" data-target="#hero-slider"><span class="fa fa-angle-left fa-3x"></span></a>
    <a href="next" class="nav-slide next" data-target="#hero-slider"><span class="fa fa-angle-right fa-3x"></span></a>
  </section>

<!-- Search
  ================================================== -->
  <%= render "search" %>

<!-- Categories
  ================================================== -->
  <section class="categories">
   <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2 text-center">
      <h2>A villa to fit your Vacation Style</h2>
      <hr>
      <h3>Choose your next villa rental according to your vacation style</h3>
    </div>
  </div><!--end of row-->

  <div class="row content">
    <% @lifestyle_categories.each_with_index do |c, index| %>
      <% if index == 0 || index == 1 %>
      <div class="col-sm-6">
      <% else %>
      <div class="col-sm-4">
      <% end %>
        <div id="<%= c.name %>" class="thumbnail thumbnail-category">
          <div class="img-wrapper background-image-holder"><%= image_tag("lifetyle_0#{index+1}.jpg") %></div>
            <div class="caption">
              <h3 class="title"><%= link_to(c.title, c.public_url) %></h3>
              <h4 class="body"><%= link_to(c.body.html_safe, c.public_url) %></h4>
              <%#= link_to("Discover", c.public_url, :class => "btn btn-inverse") %>
            </div>
          </div><!--end of team member-->
        </div>
    <% end %>
   </div><!--end of row-->
 </div><!--end of container-->
</section>

<!-- Special offers
  ================================================== -->
  <section class="special_offers">
   <div class="container">

    <div class="row">
     <div class="col-md-8 col-md-offset-2 text-center">
      <h2>Special offers</h2>
      <hr>
      <h3>Benefit of good deals, special prices, discounts or extra services offered</h3>
    </div>
  </div><!--end of row-->

  <div class="row content">
    <div class="col-md-12">
      <div class="image-slider" id="promo-slider">
        <ul class="slides">
          <% @promotions.in_groups_of(3) do |group| %>
          <li>
            <% group.each do |c| %>
            <div class="col-sm-12 col-md-4">
              <%= render("rental_properties/property_thumbnail", :record => c) if c %>
            </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div><!--end of image slider-->
    </div>
  </div>

  <div class="row space-bottom-large">
    <div class="col-md-12 text-center">
      <div class="btn-group controls">
        <a href="prev" class="btn btn-primary prev" data-target="#promo-slider"><span class="fa fa-angle-left"></span></a>
        <%= link_to("View all", add_url_param(:with_promo,'true', @rent_section.public_url), :class => "btn btn-primary ") %>
        <a href="next" class="btn btn-primary next" data-target="#promo-slider"><span class="fa fa-angle-right"></span></a>
      </div>
    </div>
  </div><!--end of row-->

</div><!--end of container-->
</section>

<!-- Badges
  ================================================== -->
  <section class="badges">
   <div class="container">

    <div class="row">
     <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Coups de coeur</h2>
          <hr>
          <h3>A selection of villas you have to see, hidden gems, <br>villas you could fall in love with.</h3>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-12">
          <div class="image-slider" id="heart-slider">
            <ul class="slides">
              <% @end_display.each do |c| %>
              <li class="overlay">
                <%= render "rental_properties/property_thumbnail", :record => c %>
              </li><!--end of individual slide-->
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="row space-bottom-large">
        <div class="col-md-12 text-center">
          <div class="btn-group controls">
            <a href="prev" class="btn btn-primary prev" data-target="#heart-slider"><span class="fa fa-angle-left"></span></a>
            <%= link_to("View all", add_url_param(:with_end_displays,'true', @rent_section.public_url), :class => "btn btn-primary ") %>
            <a href="next" class="btn btn-primary next" data-target="#heart-slider"><span class="fa fa-angle-right"></span></a>
          </div>

        </div>
      </div><!--end of row-->

    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>SOMETHING IS NEW</h2>
          <hr>
          <h3>New listing, new deco or new prices… <br>
            Something is new in these villas</h3>
          </div>
        </div>
        <div class="row content">
          <div class="col-md-12">
            <div class="image-slider" id="new-slider">
              <ul class="slides">
                <% @infos.each do |c| %>
                <li class="overlay">
                  <%= render "rental_properties/property_thumbnail", :record => c %>
                </li><!--end of individual slide-->
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row space-bottom-large">
          <div class="col-md-12 text-center">
            <div class="btn-group controls">
              <a href="prev" class="btn btn-primary prev" data-target="#new-slider"><span class="fa fa-angle-left"></span></a>
              <%= link_to("View all", add_url_param(:with_infos,'true', @rent_section.public_url), :class => "btn btn-primary ") %>
              <a href="next" class="btn btn-primary next" data-target="#new-slider"><span class="fa fa-angle-right"></span></a>
            </div>

          </div>
        </div>
      </div><!--end of row-->
    </div>
  </div><!--end of row-->
</div><!--end of container-->
</section>

<!-- Sale properties
  ================================================== -->
  <section class="section-sales">
   <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2 text-center">
      <h2>A selection of properties for sale</h2>
    </div>
    <div class="row content">
      <div class="col-md-12">
        <div class="image-slider" id="sale-slider">
          <ul class="slides">
            <% @sale_properties.in_groups_of(3) do |group| %>
            <li>
              <% group.each_with_index do |c, i| %>
                <% if i == 0 %>
                  <div class="col-sm-12 col-md-8">
                    <%= render("sale_properties/property_thumbnail", :record => c, :geometry => '820x520#') if c %>
                  </div>
                <% elsif i == 1 %>
                  <div class="col-sm-12 col-md-4">
                    <div class="row">
                      <div class="col-sm-12">
                        <%= render("sale_properties/property_thumbnail", :record => c) if c %>
                      </div>
                <% elsif i == 2 %>
                  <div class="col-sm-12 last">
                        <%= render("sale_properties/property_thumbnail", :record => c) if c %>
                      </div>
                  </div>
                  </div>
          
                <% end %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div><!--end of image slider-->
      </div>
    </div>
    <div class="row space-bottom-large">
      <div class="col-md-12 text-center">
        <div class="btn-group controls">
          <a href="prev" class="btn btn-inverse prev" data-target="#sale-slider"><span class="fa fa-angle-left"></span></a>
          <%= link_to("View all", @sale_section.public_url, :class => "btn btn-inverse ") %>
          <a href="next" class="btn btn-inverse next" data-target="#sale-slider"><span class="fa fa-angle-right"></span></a>
        </div>
      </div>
    </div>
  </div><!--end of row-->
</div><!--end of row-->
</div><!--end of container-->
</section>


<!-- Services
  ================================================== -->
  <section class="services">
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2><%= t("home.vacation_rentals.title") %></h2>
        <hr>
        <%= t("home.vacation_rentals.body").html_safe %>
        <%#= link_to("More", "#", :class => "btn btn-primary") %>
      </div>
      <div class="col-md-4">
        <h2><%= t("home.concierge_services.title") %></h2>
        <hr>
        <%= t("home.concierge_services.body").html_safe %>
        <%#= link_to("More", "#", :class => "btn btn-primary") %>
      </div>
      <div class="col-md-4">
        <h2><%= t("home.sin_marteen.title") %></h2>
        <hr>
        <%= t("home.sin_marteen.body").html_safe %>
        <%#= link_to("More", "#", :class => "btn btn-primary") %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<!-- Team
  ================================================== -->
<%#= render "team" %>



