<%
if @rent_section = site.rental_property_lists.live.first
  @random_rental_property = @rent_section.rental_properties.in_city(site.cities.first).live.all.sample(1).first
  @promo_rental_property = @rent_section.rental_properties.live.with_promo.all.first
end
if @sale_section = site.sale_property_lists.live.first 
  @random_sale_property = @sale_section.sale_properties.in_city(site.cities.first).live.all.sample(1).first
end 
%>
<% content_for :page_content do %>

  <section class="row">
    <div class="col-xs-12">
      <div id="intro" class="text-container">
        <%= image_tag("boats.jpg", :class => "img-responsive") %>
        <h1>Discover a new level of luxury in Real Estate</h1>
      </div>
    </div>
  </section> 

  <section class="row">
    <div class="col-sm-4 widget-home">
      <h4 class="widget-title widget-title-home" ><%= t("home.featured_sale_properties") %></h4>
      <% if @random_sale_property %>
        <%= render "sale_properties/property_thumbnail", :record => @random_sale_property %>
        <p><%= link_to(t("home.view_all_sale_properties"), @sale_section.public_url, :class => 'btn btn-primary') %></p>
      <% end %>                                                                 
    </div>
    
    <div class="col-sm-4 widget-home">
      <h4 class="widget-title widget-title-home" ><%= t("home.featured_rental_properties") %></h4>
      <% if @random_rental_property %>
        <%= render "rental_properties/property_thumbnail", :record => @random_rental_property %>
        <p><%= link_to(t("home.view_all_rental_properties"), @rent_section.public_url, :class => 'btn btn-primary') %></p>
      <% end %>
    </div>
    
    <div class="col-sm-4 widget-home">
      <h4 class="widget-title widget-title-home" ><%= t("promotions") %></h4>
      <% if @promo_rental_property %>
        <%= render "rental_properties/property_thumbnail", :record => @promo_rental_property %>
        <p><%= link_to(t("realty.view_all_promotions"), add_url_param(:with_promo,'true', @rent_section.public_url), :class => 'btn btn-primary') %></p>
      <% end %>
    </div>
  </section>
   
  <section class="row">
    <div class="col-md-6">
      <h4 class="widget-title widget-title-home" ><%= "News".html_safe %></h4>
      <p><%= link_to image_tag("stbarthimagebank-stbarthbucket2011-9362.jpg", :class => "img-responsive"), "http://stbarths-vacation-villa-news.com/", :target => "_blank" %><br/><%= link_to "Click here to view all RE/MAX Island Properties St Barths rental properties news, updates, promotions, last minute offers, new listings, ...".html_safe, "http://stbarths-vacation-villa-news.com/", :target => "_blank" %></p>  
    </div>
    <div class="col-md-6">
      <h4 class="widget-title widget-title-home"><%= resource.title %></h4>
      <%= render_html_text(resource.body) %> 
    </div>
  </section>
<% end %>