<% 
  price_options = []
  price_options << t(:'realty.filters.price.less_than', :price => 4000)
  price_options << "4000 - 10000"
  price_options << t(:'realty.filters.price.more_than', :price => 10000)
  price_options.compact.join("\n").html_safe

  properties = site.rental_properties.published.with_translations(I18n.locale).order('content_translations.title ASC')
%>
<div class="partial filter rental_properties">
  <h4><%= t(:listing).html_safe %></h4>
	<%= collection_select "rental_property", "id", properties, :public_url, :title, {:prompt => "Select a property" } %>
  <h4><%= t(:search).html_safe %></h4>
  <%= simple_form_for(:search, 
	:url => url_for([section]), 
	:method => :get,
	:data => {:remote => true }, 
	:html => {:class => "filter rental_property"}) do |form| %>
	<%= form.input :with_title,
		:label => false,
		:placeholder => "Name",
		:as => :string %>

    <%= render "shared/bedroom_count_select", :f => form %>
    <%= render "shared/area_select", :f => form %>  
    <div class='control-group'> 
      <%= form.input :price, 
        :collection => price_options, 
        :prompt => t(:'helpers.select.price.prompt').html_safe,
        :label => false,
        :as => :select %>
     </div> 

	<%= form.input :with_pool,
		:as => :boolean,
		:label => t(:'realty.filters.with_pool') %>
	<%= form.input :with_beachfront,
		:as => :boolean,
		:label => t(:'realty.filters.with_beachfront') %>
     <div class='control-group'> 
      <%= form.button 'submit', t('search'), :class => "search" %>
    </div> 
  <% end %>
</div>