<%
  metas = ""
  metas += "bedrooms #{record.meta.bedroom_count}" if record.meta.bedroom_count
  metas += " - #{record.meta.area.name}" if record.meta.area
%>

<div class="thumbnail thumbnail-property">
  <%= link_to(image_fu(record.thumbnail, "720x440#", :class => "img-responsive"), record.public_url) %>
  <div class="caption">
	  <h3><%= link_to(record.title, record.public_url) %></h3>
   	<p class="tags-list">
      <%= metas %>
   	</p>
    <p class="price"><%= rental_min_price_value(record) %></p>
    <%= content_tag(:p, :class => "body") do %>
      <%= truncate_html(strip_tags(record.body), :length => 120, :omission => "...") %>
    <% end if record.body.present? %>
    <% if record.end_display %>
    <i class="fa fa-heart heart"></i>
  <% end %>
  </div>
  
  <% if record.badge.present? %>
    <div class="thumbnail-badge"><%= record.badge %></div>
  <% elsif record.info_title.present? %>
    <div class="thumbnail-info"><%= record.info_title %></div>
  <% end %>
</div>