<% resource_cache(resource) do %>
<article>
  
  <!-- START PRESENTATION --> 
  <div class='row rental_property title'>
    <div class='col-xs-12'>
    <%= render_page_title(@rental_property.title) %>
    </div>
  </div>
  <div class='row rental_property images'>
    <div class='col-xs-12'>
  		<%= render_slideshow_for(resource) %>
    </div>
  </div>
  <div class='row rental_property body'>
    <div class='col-xs-12'>
  	<%= render_copy_text(@rental_property.body) %>
    </div>
  </div>
  <!-- END PRESENTATION -->

  <!-- START RATES -->
  <div class='row rental_property rates'>
    <div class='col-xs-12'>
      <h2 class='realty-partial'><%= t(:'rates') %></h2>
      <% if @rental_property.has_promo? %>
      <div class="well realty-promo-text">
        <%= @rental_property.promo_text.html_safe %>
      </div>
      <% end %>
      <%= render 'rental_properties/seasons' %>
    </div>
  </div> 
  <!-- END RATES --> 
  
  <% if @rental_property.meta and @rental_property.meta.description.present? %>
  <!-- START DETAILS -->
  <div class='row rental_property details'>
    <div class='col-xs-12'>
      <h2 class='realty-partial'><%= t(:'details') %></h2>
      <%= render_copy_text(@rental_property.meta.description) %>
    </div>
  </div>
  <!-- END DETAILS -->
  <% end %>
   
  <% if @rental_property.lat_long.present? %>
  <!-- START GMAP --> 
  <div class='row google_map_container hide-on-print'>
    <div class='col-xs-12'>
      <%= render('google_map', :point => @rental_property.lat_long) %> 
    </div>
  </div>
  <!-- END GMAP -->
  <% end %>
  
  <!-- START INQUIRY -->
  <div class='row rental_property inquiry hide-on-print'>  
    <div class='col-xs-12'>
      <h2 class='realty-partial'><%= t(:'realty.request_availability') %></h2>
    </div>  
  </div>
  <div class='row hide-on-print'>
    <div class='col-xs-4'>
      <% if site.preferred_realty_agent_public && @rental_property.meta.realty_agent %>
        <%= render 'shared/realty_agent', :realty_agent => @rental_property.meta.realty_agent %>
      <% elsif site.preferred_contact_address.present? %>
        <p><small><%= site.preferred_contact_address.html_safe %></small></p>
      <% end %> 
    </div>
    <div class='col-xs-8'><%= render :partial => 'rental_property_inquiries/form' %></div>
  </div>
  <!-- END INQUIRY -->  
</article>
<% end %> 

<% content_for :sidebar do %>
	<% cache([action_name, site, I18n.locale, parent, @rental_property, 'sidebar']) do %>	
		<% 
		options = @rental_property.content_options
		has_options = options.try(:any?)
		tags = []
		tags << realty_meta_tag("bedroom_count", @rental_property.bedroom_count)
		tags << realty_meta_tag("bathroom_count", @rental_property.bathroom_count)
		tags << realty_meta_tag("min_price", rental_min_price_value(@rental_property))
		if @rental_property.area.present? 
		  tags << realty_meta_tag("area", @rental_property.area.name)
		end
		if @rental_property.children_policy.present? 
		  tags << realty_meta_tag("children_policy", @rental_property.children_policy)
		end
		if @rental_property.pets_policy.present? 
		  tags << realty_meta_tag("pets_policy", @rental_property.pets_policy)
		end
		%>
	  <div class='widget'>
	    <h4 class="widget-title"><%= t(:'description') %></h4>
	    <%= tags.compact.join("<br/>").html_safe %>
	    <%= render('/shared/content_options', :options => options) if has_options %>
	  </div>
	  <%= render "rental_properties/filter", :section => parent %>
	  <div class='widget'>
	    <%= render_resource_stickers(:title => t(:'details')) %>
	  </div>
	  <%= render "rental_properties/promotion_list" %>
	<% end %>
<% end %>