<%# resource_cache(resource) do %>
<% 
options = @rental_property.content_options
has_options = options.try(:any?)
tags = []
tags << realty_meta_tag("bedroom_count", @rental_property.bedroom_count)
tags << realty_meta_tag("bathroom_count", @rental_property.bathroom_count)
tags << realty_meta_tag("min_price", rental_min_price_value(@rental_property))
if @rental_property.area.present? 
  tags << realty_meta_tag("area", @rental_property.area.name)
end
if @rental_property.children_policy.present? 
  tags << realty_meta_tag("children_policy", @rental_property.children_policy)
end
if @rental_property.pets_policy.present? 
  tags << realty_meta_tag("pets_policy", @rental_property.pets_policy)
end
@rental_property.content_options.each do |o|
  tags << "<strong>#{o.option_type.presentation}: </strong>#{o.option_value.presentation}"
end
%>

<%= render "search" %>
<article class="property">

  <!-- Slider
  ================================================== -->
  <section class="section-slider">
    <div class="container">
      <div class='row'>
        <div class='col-sm-12'>
          <% if @rental_property.meta and @rental_property.meta.video_url.present? %>
            <%= link_to "Watch video", "http://vimeo.com/#{@rental_property.meta.video_url}", :class => "btn btn-primary btn-video hidden-print", :target => "blank" %>
          <% end %>
          <%= render "slider", :images => resource.images %>
        </div>
      </div>
    </div>
  </section>

  <!-- Header
  ================================================== -->
  <section class="property-header">
    <div class="container">
      <div class='row'>
        <div class='col-sm-8'>
          <h1><%= @rental_property.title %></h1>
          <hr>
          <%= render_copy_text(@rental_property.body) %>
          <% if @rental_property.meta and @rental_property.meta.video_url.present? %>
            <br>
            <div class="embed-responsive embed-responsive-16by9 hidden-print">
              <iframe src="//player.vimeo.com/video/<%= @rental_property.meta.video_url %>"></iframe>
            </div>
          <% end %>
        </div>
        <div class="col-sm-4">
          <% if @rental_property.info_body.present? %>
            <div class="well property-info">
              <h4><%= @rental_property.info_title %></h4>
              <%= @rental_property.info_body %>
            </div>
          <% end %>
          <div class='widget-details'>

            <%= tags.compact.join("<br/>").html_safe %>
            <hr>
            <%
            stickers = []
            @rental_property.stickers.translated.each do |s|
              stickers << link_to(s.name, s.public_url)
            end
            %>

            <%= stickers.compact.join(", ").html_safe %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <!-- Rates
      ================================================== -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <div class="container">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <%= t(:'rates') %>
                <span class="th-icon-open"><i class="fa fa-plus"></i></span>
                <span class="th-icon-close"><i class="fa fa-minus"></i></span>
              </a>
            </h4>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="container">
              <div class='row'>
               <div class='col-sm-11 col-sm-offset-1'>
                <% if @rental_property.promo_text.present? %>
                  <div class="well property-promo-text">
                    <%= @rental_property.promo_text.html_safe %>
                  </div>
                <% end %>
                <%= render 'rental_properties/seasons' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @rental_property.meta and @rental_property.meta.description.present? %>
  <!-- Details
  ================================================== -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <div class="container">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <%= t(:'details') %>
            <span class="th-icon-open"><i class="fa fa-plus"></i></span>
            <span class="th-icon-close"><i class="fa fa-minus"></i></span>
          </a>
        </h4>
      </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="container">
          <div class='row'>
           <div class='col-sm-7 col-sm-offset-1'>
            <%= render_copy_text(@rental_property.meta.description) %>

            <% if @rental_property.lat_long.present? %>
          <!-- Map
          ================================================== -->
          <div class='row'>
            <div class='col-sm-12'>
              <%= render('gmap', :point => @rental_property.lat_long) %> 
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<div class="panel panel-default hidden-print">
  <div class="panel-heading" role="tab" id="headingThree">
    <div class="container">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <%= t(:'realty.request_availability') %>
          <span class="th-icon-open"><i class="fa fa-plus"></i></span>
          <span class="th-icon-close"><i class="fa fa-minus"></i></span>
        </a>
      </h4>
    </div>
  </div>
  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
      <div class="container">
        <div class='row'>
          <div class='col-sm-4'>
            <% if site.preferred_realty_agent_public && @rental_property.meta.realty_agent %>
            <%= render 'shared/realty_agent', :realty_agent => @rental_property.meta.realty_agent %>
            <% elsif site.inquiry_recipients.present? %>
            <p><small><%= site.inquiry_recipients.html_safe %></small></p>
            <% end %> 
          </div>
          <div class='col-sm-8'>
            <%= render :partial => 'rental_property_inquiries/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</article>
<%# end %> 
