<%
  metas = ""
  metas += "bedrooms #{record.meta.bedroom_count}" if record.meta.bedroom_count
  metas += " - #{record.meta.area.name}" if record.meta.area
%>
<article class="col-sm-6 col-md-4 post-item">
<%= link_to(record.public_url, :class => "thumbnail thumbnail-property") do %>
  <%= image_fu(record.thumbnail, "720x440#", :class => "img-responsive") %>
  <div class="caption">
	  <h3><%= record.title %></h3>
   	<p class="tags-list">
      <%= metas %>
   	</p>
    <%= content_tag(:p, :class => "body") do %>
      <%= truncate_html(strip_tags(record.body), :length => 120, :omission => "...") %>
    <% end if record.body.present? %>
    <% if record.end_display %>
    <i class="fa fa-heart heart"></i>
  <% end %>
  </div>
  <div class="badges">
  <% unless record.badge.blank? %>
    <div class="thumbnail-badge"><%= record.badge %></div>
  <% end %>
  <% unless record.info_title.blank? %>
    <div class="thumbnail-info"><%= record.info_title %></div>
  <% end %>
  </div>
<% end %>
</article>
<% if record_counter % 3 == 2 %> 
  <div class="clearfix visible-md-block visible-lg-block"></div> 
<% end %>
<% if record_counter % 2 == 1 %>
  <div class="clearfix visible-sm-block"></div> 
<% end %>
