<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'>
<div id="wrapper-wide-body" role="main">
  <%= render 'navbar' %>
  <div id='main-container' class='container'>
    <% if content_for?(:page_container) -%>
      <%= render 'layouts/messages' %>
      <%= yield :page_container %>
    <% else -%>
      <div id="main-row" class='row'>
        <% if content_for?(:page_content) -%>
          <div id="main" class='col-xs-12 <%= @body_id %>'>
            <%= yield :page_content %>
          </div>
        <% else -%>
          <%
            has_sidebar = content_for?(:sidebar_header) || content_for?(:sidebar)
            main_span = 12
            main_span -= 3 if has_sidebar
          %>
          <div id="main" class='col-sm-<%= main_span %> <%= @body_id %> '>
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
          <% if has_sidebar -%>
            <aside id='sidebar' class="col-sm-3">
  					  <%= yield :sidebar_header %>
  					  <%= yield :sidebar %>
            </aside>
          <% end -%> 
        <% end -%>
    </div>
    <% end -%><%# end page_container %>
  </div><!--! end of #main-container -->
  <%= render 'footer' %>

</div> <!--! end of #main -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<%= render 'javascripts' %>
</body>
</html>