<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'>
  <%= render 'navbar' %>
  <div class="main-container">
    <%= yield %>
  </div>
  <%= render 'newsletter' %>
  <%= render 'footer' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= render 'javascripts' %>
</body>
</html>